* {
  padding: 0;
  margin: 0;
}

/* Element Css */         
.button-style-one {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 10px;
    padding: 6px 45px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 4px 4px 12px #1FA2FF;
    border-radius: 35px;
    display: block;
  }

  .button-style-one:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 